scipy>=1.4.1
tqdm>=4.46.1
essential_generators>=0.9.2
opencv_python_inference_engine>=4.0.1.2
numpy>=1.18.1
editdistance>=0.5.3
validators>=0.15.0
matplotlib>=3.2.2
torch>=1.5.1
torchvision>=0.6.1
pyclipper>=1.1.0.post3
pytest>=5.4.3
imgaug>=0.4.0
Shapely>=1.7.0
efficientnet>=1.0.0
cx_Freeze>=6.1
fontTools>=4.12.1
Pillow>=7.1.2
py2exe>=0.9.2.2
